@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%, 0.5);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "League Spartan", sans-serif;
  color: var(--White);
  color: black;
}

/************************* DESK MODEL ************************/

.container_destokp {
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1430px;
  height: 820px;
  margin: 10em auto;
}

.main_title {
  color: var(--Very-Dark-Magenta);
  font-size: 45px;
  margin: 2em;
  justify-content: start;
  right: 2em;
  text-align: start;
}

.main_paragraf {
  color: var(--Dark-Grayish-Magenta);
  font-size: 20px;
  margin-top: 1.5em;
  text-align: start;
  justify-content: start;
  margin-bottom: 2em;
  font-weight: 500;
}

.rated_1 {
  position: relative;
  left: 44em;
  bottom: 24em;
  background-color: var(--Light-Grayish-Magenta);
  width: 35em;
  height: 4em;
  border-radius: 8px;
}

.stars01,
.stars02,
.stars03 {
  display: flex;
  font-size: 16px;
}

.text_01,
.text_02,
.text_03 {
  font-size: 20px;
}

.rated_2 {
  position: relative;
  margin-top: 7em;
  left: 47em;
  bottom: 30em;
  background-color: var(--Light-Grayish-Magenta);
  width: 35em;
  height: 4em;
  border-radius: 8px;
}

.rated_3 {
  position: relative;
  margin-top: 8em;
  left: 50em;
  bottom: 37em;
  background-color: var(--Light-Grayish-Magenta);
  width: 35em;
  height: 4em;
  border-radius: 8px;
}

.avatares {
  right: 4em;
  display: flex;
  position: relative;
  bottom: 40em;
  left: 19em;
  gap: 1.5em;
  justify-content: start;
}

.avatar_colton {
  border-radius: 18px;
  margin-left: 1.5em;
  width: 400px;
  height: 260px;
  background-color: var(--Very-Dark-Magenta);
  bottom: 55em;
}
.imagen_colton {
  display: flex;
  flex-direction: row;
}

.photo_coltom {
  border-radius: 90px;
  width: 50px;
  height: 50px;
  margin-top: 2.5em;
  margin-left: 2em;
}

.avatar_irene {
  border-radius: 15px;
  margin-top: 2.5em;
  margin-left: 1.5em;
  width: 400px;
  height: 260px;
  background-color: var(--Very-Dark-Magenta);
}

.photo_irene {
  border-radius: 90px;
  width: 50px;
  height: 50px;
  margin-top: 2.5em;
  margin-left: 2em;
}
.avatar_anne {
  border-radius: 15px;
  margin-top: 4em;
  margin-left: 1.5em;
  width: 400px;
  height: 260px;
  background-color: var(--Very-Dark-Magenta);
}
.photo_anne {
  border-radius: 90px;
  width: 50px;
  height: 50px;
  margin-top: 2.5em;
  margin-left: 2em;
}
.paragraf {
  font-size: 1.3em;
  color: var(--White);
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-top: 0.2em;
}

.stars01,
.stars02,
.stars03 {
  top: 1em;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
}

.text_01,
.text_02,
.text_03 {
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}

.title {
  color: var(--White);
  position: relative;
  left: 4.5em;
  bottom: 1.8em;
}
.Subtitle {
  color: var(--Soft-Pink);
  position: relative;
  left: 4.5em;
  bottom: 1.8em;
  font-size: 1.5em;
}

.attribution {
  position: relative;
  left: 1.5em;
  font-size: 25px;
  text-align: center;
  bottom: 14em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  position: relative;
  font-size: 25px;
  text-align: center;
}

/************************ MOBILE MODEL ****************************/

@media (min-width: 430px) and (max-width: 932px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .container_destokp {
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 22em;
    height: 80em;
    margin: 60px auto;
  }

  .main_title {
    color: var(--Very-Dark-Magenta);
    font-size: 25px;
    text-align: center;
    margin-top: 15em;
  }

  .main_paragraf {
    color: var(--Dark-Grayish-Magenta);
    font-size: 19px;
    margin-top: 2em;
    text-align: center;
    justify-content: center;
    margin-bottom: 2em;
    font-weight: 500;
  }

  .rated_1 {
    position: relative;
    width: 19.5em;
    top: -1em;
    left: 1em;
  }

  .rated_2 {
    position: relative;
    width: 19.5em;
    top: -7em;
    left: 1em;
  }

  .rated_3 {
    position: relative;
    width: 19.5em;
    top: -14em;
    left: 1em;
  }
  .avatares {
    position: relative;
    bottom: 55em;
    flex-direction: column;
  }

  .avatar_colton {
    position: relative;
    top: 3em;
    right: 17em;
    border-radius: 18px;
    width: 322px;
    height: 220px;
    background-color: var(--Very-Dark-Magenta);
    padding: 0;
  }

  .avatar_irene {
    position: relative;
    right: 17em;
    border-radius: 18px;
    width: 322px;
    height: 220px;
    background-color: var(--Very-Dark-Magenta);
    padding: 0;
  }

  .avatar_anne {
    position: relative;
    right: 17em;
    bottom: 4.5em;
    border-radius: 18px;
    width: 322px;
    height: 220px;
    background-color: var(--Very-Dark-Magenta);
  }

  .paragraf {
padding: 25;
    font-size: 16px;
    color: var(--White);
    margin-left: 0.6em;
    margin-right: 0.6em;
  }
  .title {
    color: var(--White);
    position: relative;
    left: 4.5em;
    bottom: 1.8em;
  }
  .Subtitle {
    color: var(--Soft-Pink);
    position: relative;
    left: 4.5em;
    bottom: 1.8em;
    font-size: 1.5em;
  }

  .attribution {
    position: relative;
    font-size:12px;
    text-align: center;
    bottom: 25em

  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    position: relative;
    font-size:12px;
    text-align: center;
    bottom: 25em
  }
}
